// Normalisoidaan CSS näkymään kaikilla selaimilla samalla lailla (=resetoidaan selainten omat CSS-asetukset).
@import '~normalize.css';
@import './variables.scss';

body {
  color: $text-color;
  background-color: $background-color;
  line-height: 1.5;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $font-weight-normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, b, strong {
  font-weight: $font-weight-bold;
}